@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-white text-gray-900;
  font-feature-settings: "liga" 1, "tnum" 1, "ss01" 1;
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}
